/*me.albaching@gmail.com*/
/*GENERAL Y CATEGORIAS*/

@font-face
	font-family "NissanAGBold"
	src url('http://www.nissan.com.mx/fonts/nissanag-bold-webfont.eot?1397324400')
	src url('http://www.nissan.com.mx/fonts/nissanag-bold-webfont.eot?&1397324400#iefix') format('embedded-opentype'),
    	url('http://www.nissan.com.mx/fonts/nissanag-bold-webfont.ttf?1397324400') format('truetype'),
    	url('http://www.nissan.com.mx/fonts/nissanag-bold-webfont.woff?1397324400') format('woff'),
    	url('http://www.nissan.com.mx/fonts/nissanag-bold-webfont.svg?1397324400#NissanAGBold') format('svg')

@font-face 
	font-family "NissanAGMedium"
	src url('http://www.nissan.com.mx/fonts/nissanag-medium-webfont.eot?1397324400')
	src url('http://www.nissan.com.mx/fonts/nissanag-medium-webfont.eot?&1397324400#iefix') format('embedded-opentype'),
		url('http://www.nissan.com.mx/fonts/nissanag-medium-webfont.ttf?1397324400') format('truetype'),
		url('http://www.nissan.com.mx/fonts/nissanag-medium-webfont.woff?1397324400') format('woff'),
		url('http://www.nissan.com.mx/fonts/nissanag-medium-webfont.svg?1397324400#NissanAGMedium') format('svg')

@font-face 
	font-family "NissanAGRegular"
	src url('http://www.nissan.com.mx/fonts/nissanag-regular-webfont.eot?1397324400')
	src url('http://www.nissan.com.mx/fonts/nissanag-regular-webfont.eot?&1397324400#iefix') format('embedded-opentype'),
		url('http://www.nissan.com.mx/fonts/nissanag-regular-webfont.ttf?1397324400') format('truetype'),
		url('http://www.nissan.com.mx/fonts/nissanag-regular-webfont.eot.woff?1397324400') format('woff'),
		url('http://www.nissan.com.mx/fonts/nissanag-regular-webfont.svg?1397324400#NissanAGRegular') format('svg')

@font-face
	font-family:"NissanAGMedExt"
	src url('http://www.nissan.com.mx/fonts/nissanag-medext-webfont.eot?1397324400')
	src url('http://www.nissan.com.mx/fonts/nissanag-medext-webfont.eot?&1397324400#iefix') format('embedded-opentype'),
		url('http://www.nissan.com.mx/fonts/nissanag-medext-webfont.ttf?1397324400') format('truetype'),
		url('http://www.nissan.com.mx/fonts/nissanag-medext-webfont.woff?1397324400') format('woff'),
		url('http://www.nissan.com.mx/fonts/nissanag-medext-webfont.svg?1397324400#NissanAGMedExt') format('svg')

body
	margin 0
	padding 0
	background-color #333
	font-family "NissanAGBold"

footer 
	margin 0  
	padding 0
	color #fff
	font-family 'NissanAGRegular'
	text-decoration none
	background-color #000
	font-size 0.75em
	min-height 67px

footer ul a 
	color #fff
	text-decoration none 

footer ul a:hover
	color #c02c55

video
	margin 0 10%

button:hover
	transition .25s
	opacity 1 !important
	border-style solid
	border-width 0
	border-color #fff
	box-shadow 1px 1px .4px #fff, -1px -1px .4px #333
	


/*ID's*/
#home
	padding-bottom 20px 
	background-color Black
	color #fff
	text-align center
	height 900px

#imgder
	position relative
	text-align center
	margin 0 .1px 0 0
	padding 0
	height 892px	
	width 524px

#imgizq
	position relative 
	text-align center
	margin 0 -1px 0 0 
	padding 0
	height 892px	
	width 524px

#volver360
	margin 0 0 0 22%
	font-family 'NissanAGRegular'

#galeria360
	margin 0 0 0 2%
	font-family 'NissanAGRegular'

/*Agregar background-image o pensar en cómo resolver distribución
de la imagen que quieren*/
#el360
	position absolute
	width 1048px


/*#fondo360
	background-image url(../img/fondo-360.jpg)*/


#head360
	text-align left
	padding 0
	margin -3%

#head360 button
	font-family 'NissanAGRegular'
	border-radius 50%
	width 60px
	height 60px
	background-color #c02c55
	color #fff
	border-style solid
	text-align center  
	font-size 0.8em
	border-width 1px
	opacity .5
	top 0


#headcomparte
	position relative
	color #fff
	margin 0 0 1em 2em
#headcomparte h1
	font-family 'NissanAGBold'
	font-weight bolder 
#headcomparte p
	font-family 'NissanAGRegular'

#contenido360
	height 700px
	width 100%
	margin 0 auto

#destruir
	z-index 8
	position absolute
	margin 0px auto
	height 892px
	width 1048px
	color #fff
	background-repeat no-repeat
	padding 0

#franja 
	opacity 1
	z-index 10
	position absolute
#franja img
	opacity .8

#contdestruir
	z-index 12
	position relative

#contdestruir h2
	padding 30% 0 0 0

#contdestruir article
	padding 2% 0 0 0

#contdestruir div
	padding 7.5% 0 0 0

#punto
	font-family 'NissanAGBold'
	font-weight bolder
	font-size 3.5em
	margin 1em 0 0 2em

#jamas
	font-family 'NissanAGBold'	
	font-weight bolder	
	font-size 2em
	margin 0 0 0 3.5em
	
#bloq11
	margin 0 -2px 0 0
	background-image url('../img/grid/grid1.png')
	height 309px
	width 431px
	background-size cover

#bloq12
	margin 0 -2px
	background-image url('../img/grid/grid2.png')
	background-size auto
	height 309px
	width 290px

#bloq13
	margin 0 -2px 0 -2.5px
	background-image url('../img/grid/grid3.png')
	height 309px
	width 327px

#bloq21
	background-image url('../img/grid/grid4.png')
	height 320px
	width 435px

#bloq22 
	background-image url('../img/grid/grid5.png')
	height 320px
	width 613px

#bloq31 
	background-image url('../img/grid/grid6.png')
	height 323px
	width 270px

#bloq32
	margin -80px -2px 0 -3.5px !important
	background-image url('../img/grid/grid7.png')
	height 323px
	width 340px

#bloq33 
	background-image url('../img/grid/grid8.png')
	height 323px
	width 438px



#videos
	width 1048px
	height 892px
	background-color black 
	z-index 1

#comparte
	color LightBlue
	margin 0 auto
	padding 0
	z-index 10
	
#carr
	position absolute
	width 1000px
	margin 0 auto
	padding 24px
	background-color rgba(0, 0, 0, 0.75)
	height 892px
	overflow hidden
	div:first-child
		margin 0 auto
		text-align start
	h2
		font-family 'NissanAGBold'
		font-weight bolder
		font-size 3.5em
		margin 1em 0 0 2em
	h4
		font-family 'NissanAGBold'
		font-weight bolder
		font-size 2em
		margin 1em 0 0 2em
		
.close
	background #000
	color #fff
	width 20px
	height 20px
	position absolute
	top 0
	right 0
	text-align center
	line-height 20px
	display block
	text-decoration none

/*CLASES*/
.seccion
	margin 0 auto
	padding 0
	width 1048px
	height auto 

.cab360
	display inline-block

.pageOption
	background-color #444

.contimg
	z-index 6
	position absolute 
	margin 0 auto
	width auto
	text-align center
	display flex
	padding 0

.botoninicio
	margin 0 5%
	width 290px
	height 40px
	background-color #c02c55
	color #fff
	border none 
	font-size 1.2em

.relativo
	font-family 

.bloq
	width 1048px
	height auto 
	margin -5px 0 -20px 0
	padding 0
	background-color #000

.bloq1
	display inline-flex
	margin 0
	padding 0
	z-index 8
	vertical-align middle
	div
		width 200px
		margin auto auto
		text-align center

.bloq2
	display inline-flex
	margin -50px 0px 0px -3.5px !important
	padding 0
	z-index 6
	position relative
	vertical-align middle
	div
		width 200px
		margin auto auto
		text-align center

.bloq3
	display inline-flex
	margin -80px 0px 0px -3.5px !important
	padding 0
	z-index 4
	position relative
	vertical-align middle
	div
		width 200px
		margin auto auto
		text-align center


.elfoot
	margin 2% 5%
	display inline-block
	font-size 1.5em
.noMostrar
	padding-top 24%

.footLink
	text-decoration none 

#mySpriteSpin
	margin 0 auto
	
#back_street
	z-index 0
	position absolute
	margin 0px auto
	height 1056px
	width 1048px
	background-image url('../img/fondo-360.jpg')
