@import '../vendors/css/grid.styl'

column-width = 60px
gutter-width = 20px
columns = 12
total-width = 100%

.aspecto
	column(12)
	margin-top 7%

.imgd
	column(12)
	text-align center

.titd
	column(12)
	text-align center 

.menus 
	display inline-block

.izq
	column(5)
	offset(1)
	text-align right
	padding 0 

.der
	column(5)
	border-left-style solid
	border-left-width 1px 
	border-left-color #878787
	padding 0 2.5%


#contdatos
	column(12)

#txtd6
	column(12)
	text-align center

#link
	text-align center 
	column(6)
	offset(3)



