@import '../vendors/css/grid.styl'

column-width = 60px
gutter-width = 20px
columns = 12px

body 
	margin-top !0 
	margin 0
	width 100%

section
	margin 0
	color black

header
	min-height 100px
	heigth 100px
	max-height 100px
	color #f5f5f5

footer
	min-height 100px
	height 100px 
	background-color #00202e
	color #fff

.container
	width 100%
	max-width 1600px
	margin 0 auto 

.elemenup
	display inline-block
	margin 0 2%

#contsecgif
#secgif
	height 700px
	background-color #fff

#sec01
	height 700px
	background-color #f5f5f5
#contsec01
	column(12)
	margin 0 auto !important 
#logo
	column(1)
#menup
	column(10)
	push(1)
#menuli
	column(11)
	display inline-block 
#imgauto1
	margin 10% auto !important
	column(10)
	push(1)
#textosmenup
	column(10)
	push(1)

#secfoto01
	height 440px
	background-image url('http://placehold.it/1600x440')

#secmix
	height 1050px
#contsecmix
	column(12)
#mixsuperior
	min-height 420px
	height 420px
	background-color #fff
#iconmotor
	margin 10% 0 0 0
#imgsobre
	column(10)
	z-index 3200
	position absolute
	margin -15% 0px 0px 0px
#mixinferior
	min-height 630px
	height 630px
	background-color #f5f5f5
#iconmateriales
	margin 10% 0 0 0

#zero
	height 660px
	background-color #fff

#interior
	height 800px
	background-color #000
	color #fff

#secfoto02
	height 800px
	background-image url('http://placehold.it/1600x800')

#ingenieria
	height 800px
	background-color #fff

#menusecu
	height 440px
	background-color #f5f5f5

#limpia
	height 450px
	background-color #c0dce8

#cargadores
	height 600px
	background-color #f5f5f5

#autonomia
	height 380px
	background-color #fff

#secfoto03
	height 490px
	background-image url('http://placehold.it/1600x490')

#seguridad
	height 760px
	background-color #fff

#secfoto04
	height 560px
	background-image url('http://placehold.it/1600x560')

#last
	height 800px
	background-color #f5f5f5

