/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:8a1bc75881db81a1a1b77a86fd895407:9c4f7c52d06510b7b4053aac9ca73d8e:bb9b9b3b1ed7b900782dc81b04d7403f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(enchufe.png);}

.iconos-2_00012 {width:87px; height:87px; background-position: -1604px -180px}
.iconos-2_00013 {width:87px; height:87px; background-position: -1604px -91px}
.iconos-2_00014 {width:87px; height:87px; background-position: -1515px -180px}
.iconos-2_00015 {width:87px; height:87px; background-position: -1515px -91px}
.iconos-2_00016 {width:87px; height:87px; background-position: -1604px -2px}
.iconos-2_00017 {width:87px; height:87px; background-position: -1515px -2px}
.iconos-2_00018 {width:87px; height:87px; background-position: -1426px -180px}
.iconos-2_00019 {width:87px; height:87px; background-position: -1426px -91px}
.iconos-2_00020 {width:87px; height:87px; background-position: -1426px -2px}
.iconos-2_00021 {width:87px; height:87px; background-position: -1337px -180px}
.iconos-2_00022 {width:87px; height:87px; background-position: -1337px -91px}
.iconos-2_00023 {width:87px; height:87px; background-position: -1337px -2px}
.iconos-2_00024 {width:87px; height:87px; background-position: -1248px -180px}
.iconos-2_00025 {width:87px; height:87px; background-position: -1248px -91px}
.iconos-2_00026 {width:87px; height:87px; background-position: -1248px -2px}
.iconos-2_00027 {width:87px; height:87px; background-position: -1159px -180px}
.iconos-2_00028 {width:87px; height:87px; background-position: -1159px -91px}
.iconos-2_00029 {width:87px; height:87px; background-position: -1159px -2px}
.iconos-2_00030 {width:87px; height:87px; background-position: -1070px -180px}
.iconos-2_00031 {width:87px; height:87px; background-position: -1070px -91px}
.iconos-2_00032 {width:87px; height:87px; background-position: -1070px -2px}
.iconos-2_00033 {width:87px; height:87px; background-position: -981px -180px}
.iconos-2_00034 {width:87px; height:87px; background-position: -981px -91px}
.iconos-2_00035 {width:87px; height:87px; background-position: -981px -2px}
.iconos-2_00036 {width:87px; height:87px; background-position: -892px -180px}
.iconos-2_00037 {width:87px; height:87px; background-position: -892px -91px}
.iconos-2_00038 {width:87px; height:87px; background-position: -892px -2px}
.iconos-2_00039 {width:87px; height:87px; background-position: -803px -180px}
.iconos-2_00040 {width:87px; height:87px; background-position: -803px -91px}
.iconos-2_00041 {width:87px; height:87px; background-position: -803px -2px}
.iconos-2_00042 {width:87px; height:87px; background-position: -714px -180px}
.iconos-2_00043 {width:87px; height:87px; background-position: -714px -91px}
.iconos-2_00044 {width:87px; height:87px; background-position: -714px -2px}
.iconos-2_00045 {width:87px; height:87px; background-position: -625px -180px}
.iconos-2_00046 {width:87px; height:87px; background-position: -625px -91px}
.iconos-2_00047 {width:87px; height:87px; background-position: -625px -2px}
.iconos-2_00048 {width:87px; height:87px; background-position: -536px -180px}
.iconos-2_00049 {width:87px; height:87px; background-position: -536px -91px}
.iconos-2_00050 {width:87px; height:87px; background-position: -536px -2px}
.iconos-2_00051 {width:87px; height:87px; background-position: -447px -180px}
.iconos-2_00052 {width:87px; height:87px; background-position: -447px -91px}
.iconos-2_00053 {width:87px; height:87px; background-position: -447px -2px}
.iconos-2_00054 {width:87px; height:87px; background-position: -358px -180px}
.iconos-2_00055 {width:87px; height:87px; background-position: -358px -91px}
.iconos-2_00056 {width:87px; height:87px; background-position: -358px -2px}
.iconos-2_00057 {width:87px; height:87px; background-position: -269px -180px}
.iconos-2_00058 {width:87px; height:87px; background-position: -269px -91px}
.iconos-2_00059 {width:87px; height:87px; background-position: -269px -2px}
.iconos-2_00060 {width:87px; height:87px; background-position: -180px -180px}
.iconos-2_00061 {width:87px; height:87px; background-position: -180px -91px}
.iconos-2_00062 {width:87px; height:87px; background-position: -180px -2px}
.iconos-2_00063 {width:87px; height:87px; background-position: -91px -180px}
.iconos-2_00064 {width:87px; height:87px; background-position: -91px -91px}
.iconos-2_00065 {width:87px; height:87px; background-position: -91px -2px}
.iconos-2_00066 {width:87px; height:87px; background-position: -2px -180px}
.iconos-2_00067 {width:87px; height:87px; background-position: -2px -91px}
.iconos-2_00068 {width:87px; height:87px; background-position: -2px -2px}
.iconos-2_00069 {width:87px; height:87px; background-position: -2px -2px}
.iconos-2_00070 {width:87px; height:87px; background-position: -2px -2px}
.iconos-2_00071 {width:87px; height:87px; background-position: -2px -2px}
