#faq 
	text-align center
.qcards 
	width 800px
	border-style solid
	border-width 1px
	border-radius 10px
	padding 10px

.flip-content
	position relative
	width 80%
	height auto
	margin auto auto
	top: 50%;
	transform: translateY(-50%);
	